name: ci-share

on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'
    paths:
      - .github/workflows/share.yml
      - 'share/**'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Publish package
        run: cd share && mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
